.{
    margin: 0;
    padding: 0;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 30%;
}
.choice:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: rgb(233, 201, 201);
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50% ;
}
.choices{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    gap: 2rem;
}

.score_board{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
    margin-top: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 4rem   ;
}
#user_score, #computer_score{
  margin: 0 2rem;
  font-size: 4rem ;
}
.message_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#message{
background-color: #081b31;
color: white;
padding: 1rem;
border-radius: 10px;
margin-top: 2rem;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: inline;
}