. {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d1e2e2;
    color: #333;
    text-align: center;
}

.container {
    height: 70vh;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #e7e1ac;
}

.game {
    height: 60vmin;
    width: 60vmin;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #b4a3c2;

}

.box {
    height: 18vmin;
    width: 18vmin;
    margin: 5px; 
    background-color: #fbfcfc;
    border: 2px solid #333;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: crimson;
    font-size: 5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}